.catalog {
  background-color: #fff;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 1% 1% 1% 1%;
  padding: 1% 1% 1% 1%;
  border-radius: 5px;
}

.title {
  font-size: 3em;
  font-weight: 500;
  margin: 0% 1%;
}

.catalog:hover {
  box-shadow: 2px 2px 20px #29292931;
  transition: box-shadow 0.2s linear;
}

.catalog > img {
  max-width: 200px;
  height: auto;
  padding: 0% 1%;
}

.contentWrapper {
  min-width: 50vh;
  text-align: left;
  margin: 1% 2%;
}

.catalogTitle {
  font-size: xx-large;
  font-weight: 500;
  padding: 1% 0%;
}

.contentWrapper > .content {
  max-height: 150px;
  font-size: large;
  font-weight: 300;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
