.container {
  margin-top: 3%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1em;
}
.container > * {
  flex: 0 1 32%;
}

.catalog {
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 10px;
}

.catalog:hover {
  box-shadow: 0px 5px 20px #2929293b;
  transition: box-shadow 0.2s linear;
}

.catalog > img {
  border-radius: 10px 10px 0 0;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.title {
  text-align: left;
  font-size: 1.5em;
  font-weight: 500;
}
.contentWrapper {
  border-radius: 0 0 10px 10px;
  padding: 3%;
  border-left: 1px solid #2929293a;
  border-right: 1px solid #2929293a;
  border-bottom: 1px solid #2929293a;
}

.catalogTitle {
  color: #113970;
  font-size: x-large;
  font-weight: 500;
}

.contentWrapper > .content {
  font-size: medium;
  font-weight: 300;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


