.imgBar {
    max-width: 100%;
    padding: 1% 2% 0.5% 10%;

    display: flex;
    justify-content: space-between;

    background-image: url("../../resources/internal/dodBanner.png");
    background-repeat: no-repeat;
}

.paraText{
    margin: 0;
    padding: 0;
}

.text {
    padding-top: 1.5%;
    height: 25px;
    color: #506A8E;
    font-family: "Times New Roman",Times, serif;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    display: flex;
}

.subText {
     height: 25px;
     width: 265px;
     color: #90BEDC;
     font-family: "Times New Roman",Times, serif;
     font-size: 15px;
     line-height: 20px;
     display: flex;
}

.icon {
    display: flex;
    min-width: fit-content;
    flex-direction: row;
    justify-content: flex-start;
}

.logo {
    align-self: center;
}

.logoText {
    width: 50vw;
    padding-left: 2%;
    align-self: center;
}

.signIn {
    font-family: "Times New Roman", Times, serif;
    align-self: flex-end;
    margin-bottom: 1%;
    margin-right: 10%;
}

.signIn:hover {
    color: #09a3ce;
}

.iconWrapper {
    display: inline-block;
}

.nav {
    padding: 0 10% 0 10%;
    background-color: #0888aa;
}

.navMain {
    width: 100%;
    display: inline-block;
    padding-left: 10%;
}

.navItemWrapper {
    margin: 0 1% 0 1%;
    padding: 10px 0;
    display: inline;
    /* size: 125%; */
}

.navItemWrapper:hover {
    background-color: #09a3ce;
    transition: background-color 0.2s, color 0.2s;
}

.navItemWrapperActive {
    background-color: #337ab7;
    display: inline-block;
}

.navItem {
    padding: 10px 10px 10px 10px;
    /* margin: 10px; */
    display: inline-block;
    text-decoration: none;
    color: #fff;
    /* height: 50%; */
}
