.title {
    font-size: 3em;
    font-weight: 500;
    margin: 0% 1%;
    padding-bottom: 1%;
  }



table {
    border-collapse: collapse;
    width: 100%;
}

th{
    margin: 5%;
}

tr{
    font-size: 1em;
    font-weight: 300;
    border-bottom: 1em;
}

tr:hover{
    box-shadow: 1px 1px 5px #00000061;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.heading{
    font-size: 1.5em;
    font-weight: 300;
    border-bottom: 1em;
}

tr:nth-child(even) {
    background-color: #dddddd;
  }

